html, body {
  margin:0;
  padding:0;
}

.container {
  margin:0 auto;
  padding: 50px 100px;
  background-color:lightgray;
}

input, select, button {
  height: 40px;
  margin-right: 30px;
}

button {
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

.hide {
  display: none;
}

#event-type {
  color:black;
  font-size:30px;
  /* margin:20px; */
  padding:10px;
  height:auto;
  border-radius:15px;
}

#wrapper {
  margin:0 auto;
  text-align:center;
  background-color:gray;
  padding:20px;
}

#key-events, #click-events {
  margin:0 auto;
  background-color:whitesmoke;
  text-align:center;
  padding:20px;
}

#key, #code, #status {
  font-size:25px;
  font-weight:bold;
  color:blue;
}

#target, #x, #y {
  font-size:25px;
  font-weight:bold;
  color:red;
}